@charset "utf-8";
/* CSS Document */


/*Desktop View*/

h5 {
	/* Apply this selector to the element on which this effects needs to be applied*/



	

	font-family: "Gotham Light";
	font-size: 100px;
	

   color: transparent;

   text-shadow: 0 0 5px rgba(255,255,255,0.8);

	
}	


text {

	
	font-family: "Gotham Light";
	font-size: 40px;
	color: white;
	text-align: center;
	
	   color: transparent;

   text-shadow: 0 0 3px rgba(255,255,255,0.8);
	
	
	
}
